# ═══════════════════════════════════════════════════════
# ContaFC – Variables de Entorno  (copia a .env)
# ═══════════════════════════════════════════════════════

# ── Base de datos ──────────────────────────────────────
DB_ROOT_PASSWORD=R00tS3cur3!
DB_NAME=contafc
DB_USER=contafc_user
DB_PASSWORD=C0nt4FC!2026

# ── Aplicación ─────────────────────────────────────────
APP_ENV=development
APP_SECRET=ch4ng3m3_pr0duct10n_s3cr3t_k3y_min_32chars!
APP_TIMEZONE=America/Bogota
APP_URL=http://localhost:8080
